.note {
    flex: 1 1 calc(33.333% - 16px);
    box-sizing: border-box;

    font-family: 'Courier New';
    background-color: #cac7c7;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    max-width: 250px;
    position: relative;
    padding: 20px;
}

.note main h3 {
    margin: 0 0 5px;
    font-size: 1.2em;
    color: #333333;
}

.note main p {
    margin: 0 0 10px;
    font-size: 1em;
    color: #555555;
}

.note main {
    height: 25vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}

.note footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}