.app {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.close-button {
    position: absolute;
    top: 5px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    padding: 0;
    line-height: 1;
}

.close-button:hover {
    color: red;
    background: #cac7c7
}